@model OnlineExamSystem.Models.StudentEntry
<!DOCTYPE html>
<html>
<head>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title></title>

        <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    </head>
    <body>
        <h1>Organization Entry</h1>
        <hr />
        <div  class="Course Entry" id="CreatExam">



            <div class="container">
                <div class="row form-horizontal">


                    <div class="container">
                        <div class="row form-horizontal">

                            
                            <div class="container">
                                <div class="row form-horizontal">



                                    <div class="form-group">
                                        <div class="col-md-3">@Html.Label("Name")</div>
                                        <div class="col-md-5">@Html.TextBox("ahdgh")</div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-3">@Html.Label("Code")</div>
                                        <div class="col-md-5">@Html.TextBox("ahdgh")</div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-3">@Html.Label("Address")</div>
                                        <div class="col-md-5">@Html.TextBox("ahdgh")</div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-3">@Html.Label("Contact No")</div>
                                        <div class="col-md-5">@Html.TextBox("ahdgh")</div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-3">@Html.Label("About")</div>
                                        <div class="col-md-5">@Html.TextBox("ahdgh")</div>
                                    </div>


                                    <div class="form-group">
                                        <div class="col-md-3">@Html.Label("Logo")</div>
                                        
                                        
                                            <div class="col-md-5">                                       
                                                <input type="file" name="file" value="Browse" />
                                                
                                            </div>

                                        
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-3"></div>
                                        <div class="col-md-5"><input type="submit" value="Save" class="btn btn-primary" /></div>
                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </div>

        <script src="~/Scripts/jquery-1.10.2.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>

    </body>
</html>